<div class="page-width">
  <h2>Request for custom sneakers</h2>
  {% form 'contact' %}
    <label for="contact[email]">
      Your Email
      <input type="email" name="contact[email]">
    </label>

    <br>
    <label for="sneakers-color">What color do you want?</label>
    <select id="sneakers-color" name="contact[sneakers-color]">
      <option>Red</option>
      <option>Pink</option>
      <option>Blue</option>
      <option>Yellow</option>
    </select>
    <br>
    Sneakers size
    <label for="contact[sneakers-size]">
      <input
        type="number"
        name="contact[sneakers-size]"
        pattern="[0-9]{2}"
        size="2">
    </label>
    <br>
    Your Comment
    <label for="contact[body]">
      <input type="textarea" name="contact[body]">
    </label>
    <button type="submit">SUBMIT</button>
    {{ form.errors | default_errors }}
  {% endform %}
</div>


{% schema %}
  {
    "name": "Contact form Extrended",
    "tag": "section",
    "class": "section section-contact-form-extended",
    "settings": [],
    "presets": [
      {
        "name": "Contact form Extrended"
      }
    ]
  }
{% endschema %}