@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('{{ "Montserrat-Regular.woff2" | asset_url }}') format('woff2');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('{{ "Montserrat-Medium.woff2" | asset_url }}') format('woff2');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('{{ "Montserrat-Bold.woff2" | asset_url }}') format('woff2');
}
body {
    font-family: 'Montserrat', sans-serif;
}


