@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('{{ "Montserrat-Regular.woff2" | asset_url }}') format('woff2');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('{{ "Montserrat-Medium.woff2" | asset_url }}') format('woff2');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('{{ "Montserrat-Bold.woff2" | asset_url }}') format('woff2');
}
body {
    font-family: 'Montserrat', sans-serif;
}


.section-david-reviews {
    background: #464646;
    min-height: 542px;
}

.section-david-reviews-container {
    position: relative;
}

.section-david-reviews-hooks {
    position: absolute;
    display: flex;
    gap: 36px;
}

.section-david-reviews-block {
    position: relative;
    z-index: 2; 
}
.section-david-reviews-hook {}

.section-david-reviews-top {
    padding-top: 75px;
    display: flex;
    justify-content: space-between;
}

.section-david-reviews-title {
    color: #FEFEFE;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section-david-reviews-arrows {
    gap: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-david-reviews-arrow-left {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.section-david-reviews-arrow-right {
    cursor: pointer;
    transform: rotate(180deg);
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-david-reviews-arrow-right, .section-david-reviews-arrow-left svg {
    cursor: pointer; 
    transition: .2s all;
}
.section-david-reviews-arrow-right:hover , .section-david-reviews-arrow-left:hover{
    transition: .2s all;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 100%;
    background: #69BAAA;
}

.section-david-reviews-slider {
    margin-top: 100px;
}

.section-david-reviews-slider-list {
    display: flex;
    justify-content: space-between;
    height: 208px;
}

.section-david-reviews-slider-item {
    position: relative;
    max-width: 335px;
    margin: 30px 54px;
    min-height: 188px;
    padding: 0 70px;
    padding-top: 50px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #606060;
    box-shadow: 20px 20px 25px 0px rgba(30, 30, 30, 0.17);

}

.slick-track .section-david-reviews-slider-item:nth-child(2n+1) {
    background: #3F3F3F;
}

.slider__item-icon {
    position: absolute;
    top: 0;
    left: 36px;
    transform: translateY(-50%);
}

.slider__item-title-block {
    transform: translateX(-28px);
    width: 200px;
    display: flex;
}

.slick-list {
    padding-top: 32px;
}


.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 0;
}

.slick-dots li {
    list-style-type: none;
}

.slick-dots .slick-active button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
    border: none;
    transition: .2s all;
    border-radius: 100%;
    background: #178A86;

}

.slick-dots li button {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s all;
    cursor: pointer;
    background: #D3EEC4;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 100%;
    font-size: 0;
}

.slider__item-title {
    color: #FEFEFE;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.slider__item-title-icon {
    
    padding-right: 5px;
    gap: 4px;
    display: flex;
}

.slider__item-descr {
    margin-top: 8px;
    width: 200px;
    color: #FEFEFE;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}
@media screen and (max-width: 1024px) {
    .section-david-reviews-slider-item {
        margin: 30px 25px;
    }
}
@media screen and (max-width: 500px) {
    .section-david-reviews {
        min-height: 590px
    }
}
        
    